*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: blue;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo{
    position: absolute;
    height: 3.75rem;
    width: 3.75rem;
    background-color: #fff;
    left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    position: absolute;
    height: 54px;
    width: 50px;
}

nav .theme {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fff;
    right: 1.5rem;
}