:root {
  --background-crazy-white: #F4F5F8;
  --background-material-black: #2B3139;
  --background-night-fury: #0f0f0f;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {background: var(--background-material-black);}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 2;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 16rem;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  margin: 10px;
}
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.bx-menu:before {
  content: "\eac1";
  visibility: hidden;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li .dropdown {
  position: relative;
  display: inline-block;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

 /* HOME SECTION */

.home-section{
  position: relative;
  /* background: #E4E9F7; */
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 4;
}
.sidebar.open ~ .home-section{
  left: 16rem;
  width: calc(100% - 16rem);
}
.sidebar.open ~ .favourite.active{
  left: 16rem;
  width: calc(100% - 16rem);
}

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* My Changes */

.sidebar .nav-list i.bx-info-circle,
.sidebar .settings i.fi,
.sidebar #arrow.fi.fi-rr-caret-up{
  display: none;
 }
 
.sidebar.open .nav-list i.bx-info-circle,
.sidebar.open .settings i.fi,
.sidebar #arrow.fi.fi-rr-caret-up {
  display: block;
}

.sidebar .nav-list .setting-dropdown .settings-dropdown-menu,
.sidebar.open .nav-list .setting-dropdown .settings-dropdown-menu {
  display: none; 
}
/* ...Javascript work */
.sidebar.open .nav-list .nav-items.settings .setting-dropdown.active .settings-dropdown-menu {
  display: block;  
  transition: all 0.5s ease;
}

.sidebar.open .nav-list .settings-dropdown-menu {
  padding-left: 25px; 
  transition: all 1s ease;
}
.logo-details img {
  display: block;
  margin: 10px 0 0 4px;
  width: 40px;
  filter: invert(1);
}
.fi-rr-caret-up {
  transform: translateY(2px);
}
.fi-rr-caret-up.active {
  transform: rotate(180deg) translateY(2px);
  color: cyan;
}

/* Contacts */
.telegram, .discord, .github {
  display: inline-block;
  height: 50px;
}

.telegram a img, .github a img, .discord a img {
  filter: invert(1);
}

.telegram a:hover img, .github a:hover img, .discord a:hover img {
  filter: invert(0);
}
.sidebar .contact {
  display: none;
}

img.top-nav {
  min-width: 50px;
  /* filter: invert(1); */
}
li.settings.toggle a {
  display: flex;
  align-items: center;
  min-height: 50px;
}

  /* ==== HOME SECTION =====  */
  
.home-section .theme {
  position: absolute;
  right: 0px;
  height: 1.5em;
  width: 1.5em;
  margin: 1.15em 2em;
  cursor: pointer;
}

.home-section img {
  position: fixed;
  margin: 1.2em 0;
  transform: translateY(5px);
  right: 6em;
}
.home-section svg#sun {
  display: none;
}

.home-section img.test {
  opacity: 20%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  width: auto;
  left: 500px;
  cursor: default;
}

.nav-items.home a, .nav-items.drives a {
  line-height: 50px;
}
.nav-items a img {
  position: relative;
  height: 24px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items.home a:hover img, a:hover img.toggle {
  filter: invert(1);
}

#arrow, #infobtn {
  position: absolute;
  right: 0;
}
a img.toggle {
  height: 50px;
  margin: 0 13px;
}
img.toggle {
  height: 24px;
  width: 24px;
  filter: invert(1);
}
a:hover img.toggle {
  filter: invert(0);
}

.nav-items.drives a img {
  height: 20px;
}