<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bottom Naviagtion Bar.css">
    <title>Document</title>
</head>

<body>
    <nav class="bottom container">

        <div class="bottom Home" onclick="homePage()">
            <a href="#">
                <img src="../assests/Home.svg" />
            </a>
                <span>HOME</span>
        </div>

        <div class="bottom Saved" onclick="Saved()">
            <img src="../assests/saved-hollow.svg" />
            <span>Saved</span>
        </div>

        <div class="bottom Search" onclick="Search()">
            <img src="../assests/search.svg" />
            <span>search</span>
        </div>

        <div class="bottom View" onclick="View()">
            <img src="../assests/view-1.svg" />
            <span>Compact View</span>
        </div>

        <div class="bottom Settings" onclick="Settings()">
            <img src="../assests/cog.svg" />
            <span>Settings</span>
        </div>
    </nav>
</body>

</html>