<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Component/CSS/Breadcumb.css">
    <title>Document</title>
</head>
<body>
    <div class="path-view">
        <div class="path">
            <div class="home">Home</div>
            <div class="seperator"> / </div>
        </div>
        
        <div class="dropdown">
            <img src="../../assests/down-arrow.svg" />
        </div>
        
        <div class="view">
            <span>Compact view</span>
            <div class="icon">
                <img src="../../assests/view-1.svg" />
            </div>
        </div>
    </div>
</body>
</html>