<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Main Layout - Compact View.css">
    <title>Document</title>
</head>

<body>
    
    <div class="Folder"></div>

    <div class="Items Compact">
        <div class="frame1">
            <div class="dots" onclick="">
                <img class="menu-dots" src="../assests/three-dots.svg" />
            </div>
            <div class="play"></div>
            <div class="title"></div>
        </div>
        <div class="frame2" onclick="">
            <img class="menu-dots" src="../assests/three-dots.svg" />
        </div>
    </div>
    
</body>

</html>