<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Home screen - Categories.css">
    <title>Document</title>
</head>

<body>
    <div class="Main">
        <div class="toolbar Comapct">
            <div class="toolbar file">
                <p>Files</p>
            </div>
            <div class="toolbar time">
                <p>Modified Time</p>
            </div>
            <div class="toolbar size">
                <p>Size</p>
            </div>
            <div class="toolbar action">
                <p>Action</p>
            </div>
        </div>
    </div>
</body>

</html>