<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <!-- Logo -->
        <div class="logo-detail">
            <div class="logo">
                <img src="../../assests/logo.png" alt="logo">
            </div>
        </div>

        <!-- Nav items -->
        <div class="navbar container">
            <div class="navbar Home">
                <img src="../../assests/Home.svg" />
                <span>HOME</span>
            </div>
            
            <div class="navbar Drive">
                <img src="../../assests/" />
                <span>Drive</span>
            </div>
            
            <div class="navbar Saved">
                <img src="../../assests/saved-hollow.svg" />
                <span>Saved</span>
            </div>
    
            <div class="navbar Settings">
                <img src="../../assests/cog.svg" />
                <span>Settings</span>
            </div>
        </div>

        <!-- Search -->
        <div class="search">
            <input type="text" placeholder="Seach Here" />
        </div>

        <!-- Theme -->
        <div class="theme">
            <img src="../../assests/brightness-low.svg" alt="theme" />
        </div>
    </nav>
</body>
</html>