<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sidebar-mobile.css">
    <title>Document</title>
</head>

<body>
    <div class="sidebar Container">
        <div class="sidebar arrow">
            <img src="../assests/arrow.svg" />
        </div>

        <div class="sidebar Search">
            <img src="../assests/search.svg" />
            <span>search</span>
        </div>

        <div class="sidebar Home">
            <img src="../assests/Home.svg" />
            <span>HOME</span>
        </div>

        <div class="sidebar Saved">
            <img src="../assests/Saved.svg" />
            <span>Saved</span>
        </div>

        <div class="sidebar View">
            <img src="../assests/view-1.svg" />
            <span>Compact View</span>
        </div>

        <div class="sidebar Settings">
            <img src="../assests/cog.svg" />
            <span>Settings</span>
        </div>
    </div>
</body>

</html>